@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to our Simple Calculator! This tool provides users with an easy way to perform basic arithmetic operations and more. Whether you're working on homework, need quick calculations for daily tasks, or simply want to explore mathematical operations, this calculator is here to help.

Features:
Addition (ADD): Add two numbers together to get their sum.
Subtraction (SUB): Subtract the second number from the first number.
Square (SQUARE): Calculate the square of a number (i.e., the number raised to the power of 2).
Cube (CUBE): Find the cube of a number (i.e., the number raised to the power of 3).
How It Works:
Enter the Numbers: Input the numbers you wish to calculate in the provided fields.
Choose the Operation: Select the operation you want to perform by clicking the respective button (ADD, SUB, SQUARE, or CUBE).
View the Result: The result of the operation will be displayed immediately below the input fields.</p>
